{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Пасека</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.kategorias') }}">Категории</a></li>
        <li class="breadcrumb-item active">Создать</li>
    </ol>
{% endblock %}

{% block body %}

{#    {{ include('app/work/_tabs.html.twig') }}#}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}