{% extends 'sait/base.html.twig' %}

{% block title %}Участники{% endblock %}

    {% block sidebar %}              
           {% include('sait/sidefiltr/_sidefiltr.html.twig') %}
    {% endblock %}

{% block kroxiSait %}
    <a href="{{ path('sait') }}">Главная</a>
    <a href="{{ path('sait.uchastiess.personass.inform') }}">Участники</a>
    <a href="{{ path('sait.uchastiess.personass.diapazon') }}">Диапазон</a>
    
     <span class="aktiv">ПерсонНомера</span>
   
{% endblock %}


{% block bodyMain %}


<div  class="saits-uch">

    {% include('sait/uchastiess/_uchastiess-includ.html.twig') %}

            {# <div  class="uchast">
                <div  class="uchast-body">
                    {{ form_start(form) }}
                        <div class="uchast-row">
                            <div class="col-md-2 col-md-2--pr0">{{ form_widget(form.name) }}</div>
                            <div class="col-md-2">{{ form_widget(form.uchkak) }}</div>
                            <div class="col-md-2">{{ form_widget(form.group) }}</div>
                            <div class="col-md-2">{{ form_widget(form.status) }}</div>
                            <div class="col-md-2  col-md-2--pr0">
                                <button type="submit" class="btn-sait btn-sait--mb0 btn-sait--pt ">Фильтр</button>
                            </div>
                            <div class="col-md-2 col-md-2--pl0 ">
                                    <a href="{{ path('paseka.uchasties') }}" class="btn-sait btn-sait--mb0 btn-sait--pt ">Сбросить</a>
                            </div>
                        </div>
                    {{ form_end(form) }}

                </div>
            </div> #}

    {# <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Участие как', 'uchkak') }}</th>
                 <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Group', 'group') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for uchastie in pagination %}
                <tr>
                    <td><a href="{{ path('paseka.uchasties.show', {'id': uchastie.id}) }}">{{ uchastie.name }}</a></td>
                    <td>{{ user_uchkak(uchastie.uchkak) }}</td>
                    <td>{{ uchastie.email }}</td>
                    <td>{{ uchastie.group }}</td>
                    <td>{{ uchastie_status(uchastie.status) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> #}

    <div class="u4astniki">
        <div class="u4astniki__left">
        
 
            {% for u4astnik in pagination %}
        
                <div class="tabll">
                    <ul class = "tabll__list">
                        <li class = "tabll__list-li" >
                            {# <a class="tabll__link" href="{{ path('sait.u4astniki.show', {'id': u4astnik.id}) }}"> #}
                            {{ u4astnik.name }} </a> 
                        </li>
                        {# <li class = "tabll__list-li tabll__linia">  {{ u4astnik.mesto }} </li> #}
                        <li class = "tabll__list-li tabll__linia"> {{ u4astnik.email }} </li>
                        <li class = "tabll__list-li tabll__linia">{{ u4astnik.group }}</li>
                        {# <li class = "tabll__list-li tabll__linia">{{ u4astnik.nomer }}</li> #}
                        <li class = "tabll__list-li tabll__linia">
                            {{u4astnik.status}}
                            {# {{ member_status(u4astnik.status) }}  #}
                        </li>
                    </ul>
                </div>
        
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}