{% extends 'base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">Пасека</a></li>
        <li class="breadcrumb-item active">ПлемМатка</li>
        <li class="breadcrumb-item active">{{ plemmatka.name }}</li>
    </ol>
{% endblock %}

{% block body %}
<h2>{{ plemmatka.name }}</h2>
    <h3>Базовые данные ПлемМатки : {{ infaRasaNom[0].rasa }} _ {{ infaRasaNom[0].linia }} _ {{ infaRasaNom[0].nomer }}</h3>

    <h3>Номер места расположения пасеки : {{ plemmatka.mesto }} : {{ infaMesto[0].okrug }} - {{ infaMesto[0].oblast }} - {{ infaMesto[0].raion }}</h3>
<h3>пН-{{ plemmatka.persona }} - персональный номер участника с ником: {{ uchastie.name.nike}} ( {{ uchastie.name.last }} , {{ uchastie.name.first }}) ,
   </h3>

{% endblock %}