{% extends 'base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">Пасека</a></li>
        <li class="breadcrumb-item active">ПлемМатка</li>
        <li class="breadcrumb-item active">{{ plemmatka.name }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
        <a href="{{ path('paseka.matkas.plemmatka.redaktors.edit', {'plemmatka_id': plemmatka.id}) }}" class="btn-me btn-primary">Редактировать  комментарий</a>
        {% if plemmatka.active and plemmatka.id.value != app.user.id %}
            <form action="{{ path('paseka.matkas.plemmatka.redaktors.archive', {'plemmatka_id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Вы уверены, что племМатку в архив ?')">
                <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                <button type="submit" class="btn-my btn-danger">Отправить в архив</button>
            </form>
        {% endif %}
        {% if plemmatka.archived %}
{#            <form action="{{ path('paseka.matkas.plemmatka.redaktors.reinstate', {'plemmatka_id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
{#                <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />#}
{#                <button type="submit" class="btn btn-success">Reinstate</button>#}
{#            </form>#}
        {% endif %}
{#        <form action="{{ path('paseka.matkas.plemmatka.redaktors.delete', {'plemmatka_id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
{#            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />#}
{#            <button type="submit" class="btn btn-danger">Delete</button>#}
{#        </form>#}
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th> ПлемМатка - берем за основу</th>
                <td>{{ plemmatka.name }}</td>
            </tr>
            <tr>
                <th>Статус </th>
                <td>{{ plemmatka_status(plemmatka.status.name) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

<h2>{{ plemmatka.name }}</h2>
    <h3>Базовые данные ПлемМатки : {{ infaRasaNom[0].rasa }} _ {{ infaRasaNom[0].linia }} _ {{ infaRasaNom[0].nomer }}</h3>

    <h3>Номер места расположения пасеки : {{ plemmatka.mesto }} : {{ infaMesto[0].okrug }} - {{ infaMesto[0].oblast }} - {{ infaMesto[0].raion }}</h3>
<h3>пН-{{ plemmatka.persona }} - персональный номер матковода с ником: {{ uchastie.name.nike}} ( {{ uchastie.name.last }} , {{ uchastie.name.first }}) ,
   </h3>
    <h3> №{{plemmatka.sort}} :  внутренняя нумерация или название маточки  и комментарий  -- {{ plemmatka.title}} </h3>
<h3>{{ infaSparing[0].name}}  : вид облёта (спаринг)  -- {{ infaSparing[0].title}} </h3>
{% endblock %}