{% extends 'proekt/base.html.twig' %}

{% block title %}Номер места{% endblock %}

{% block kroxii %}
            <a href="{{ path('home') }}">Главная</a>
            <a href="{{ path('sait.mestos.inform') }}">НомерМеста</a>
            <a href="{{ path('sait.mestos.okrugs') }}">Номера Округов</a>
            <a  href="#">Номера Областей</a>       
            <span class="aktiv" >Номера Районов</span> 
{% endblock %}

{% block bodyy %}

    <h2 class = "page__title ">Вы выбрали  номер места расположения пасеки:  {{mestonomer }} </h2>

   <button type="submit" class="btn-my btn-my--sm">Создать</button>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Создать</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}