{% extends 'proekt/base.html.twig' %}

{% block title %}Информация{% endblock %}

{% block sidebar %}
    {{ include('proekt/mestoo/side/_sideinform.html.twig') }}
{% endblock %}

{% block kroxii %}
            <a href="{{ path('proekt') }}">Главная</a>
            <a href="{{ path('proekt.mestoo.inform') }}">НомерМеста</a>
            <span class="aktiv">Информация</span>   
{% endblock %}

{% block bodyy %}

<div  class="proekts">
    <div class="wstavka">

        <div class="wstavka__kartinka">
            <div class="wstavka-stories" >
                <div class="wstavka-stories__item" >
                    <img class="wstavka-stories__preview" src="{{ asset('assets/proekt/images/mestos/mesto_.png') }}"  alt="Место">
                </div>
            </div>
        </div>

       <div class = "wstavka__title ">
            Номера мест расположения пасек участников проекта 
        </div> 
    </div>

    <div class="proekts-plr">
        <div class="ramka">

            {% for mestonom in fetcher %}
                <div class = "ramka__mesto-nomer">		
                    {{ mestonom.mestonomer  }}
                </div>
            {% endfor %}
        </div>

        {% if mestonomer %} 
            <h2 class = "pagee__title "><strong class = "strongo--name-nike">{{ last }},</strong>  Вы определились с НомерМестом - номер места расположения Вашей пасеки  </h2>
            <div class="ramka">
                <div class = "ramka__mesto-nomer mestoo__nomer-text">
                    {{ mestonomer.nomer }}
                </div>
            </div>    
        {% else %} 
            <h2 class = "pagee__title ">Вам, для участия в проекте,  нужно определиться  
            с номером места нахождения Вашей пасеки.<br> Можно отсюда 
            <a href="{{ path('proekt.mestoo.okrugs') }}">перейти по ссылке </a> 
              или <br>
            в верхнем меню выбрать:  <strong class = "strongo strongo--krox"  >НомерМеста ->Найти НомерМеста.</strong>
            </h2>
        {% endif %}
    </div>
</div>        
{% endblock %}