{% extends 'proekt/base.html.twig' %}

{% block title %}Место-округ{% endblock %}

{% block sidebar %}
    {{ include('proekt/mestoo/side/_sidemesto.html.twig') }}
{% endblock %}

{% block kroxii %}   
            <a href="{{ path('proekt') }}">Главная</a>
            <a href="{{ path('proekt.mestoo.inform') }}">НомерМеста</a>
            <a href="{{ path('proekt.mestoo.okrugs', {'okrug_id': okrug_id} ) }}">Номера Округов</a>
            <a href="{{ path('proekt.mestoo.oblasts', { 'oblast_id': oblast_id, 'okrug_id': okrug_id} ) }}">Номера Регионов/Областей</a>
        
             <a href="{{ path('proekt.mestoo.raions', {'raion_id': raion.id, 'oblast_id': oblast_id, 'okrug_id': okrug_id, 'name_ok': name_ok  } ) }}">Номера Районов</a>
           
            <span class="aktiv">Номер места расположения </span> 
{% endblock %}


{% block bodyy %}

<div  class="proekts">

    {% include('proekt/mestoo/_mesto-includ.html.twig') %}

    <div class="mestoo">
        <div class="mestoo__raspol">
            <ul class="mestoo__title">
                
                {# <li class="mestoo__title-item mestoo__nomer-text">{{ okrug.nomer }}</li> #}
                <li class="mestoo__title-item "> {{ name_ok }}</li>
                <li>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </li>
            </ul>
        </div>
    
    <div class = "mestoo__linia-top "></div>
                    
       <div class=" mestoo--obla ">
            <div class="mestoo__raspol">
                <ul class="mestoo__title">
                    {# <li class="mestoo__title-item mestoo__nomer-text">{{ oblast.nomer }}</li> #}
                    <li class="mestoo__title-item ">{{ name_ob }} </li>           
                
                    <li>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </li>      
                </ul>
            </div>    
        </div>

      <div class = "mestoo__linia-top mestoo-ml20"></div>

        {# <h2 class = "pagee__title pagee__title--raio ">
            Ваш район  </h2>  #}
  
    <div class=" mestoo--raio">
        <div class="mestoo__raspol">
            <ul class="mestoo__title">
                <li class="mestoo__title-item mestoo__nomer-text">{{ raion.mesto }} </li>
                <li class="mestoo__title-item ">{{ raion.name }}  </li>           
                <li class="mestoo__title-item" > 
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-all" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                                d="M12.354 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M6.25 8.043l-.896-.897a.5.5 0 1 0-.708.708l.897.896.707-.707zm1 2.414l.896.897a.5.5 0 0 0 .708 0l7-7a.5.5 0 0 0-.708-.708L8.5 10.293l-.543-.543-.707.707z"/>
                    </svg>
                </li>      
            </ul>
        </div>
    </div>
</div> 
    <div class = "mestoo__linia-top mestoo-ml40"></div>

    <div class="mestoo   ">       
        {# <div class="mestoo__raspol ">      #}
            <ul class="mestoo__title ">
                <li class="mestoo__title-item mestoo__name-text">
                        Номер места расположения Вашей пасеки 
                </li>  
                <li class="mestoo__title-item mestoo__nomer-red">{{ raion.mesto }}</li>
                <li class="mestoo__title-item ">
                    <a class="mestoo__read  btnn btnn--mb1 btnn--pt" href="{{ path('proekt.mestoo.create', {'raion_id': raion.id , 'mestonomer': raion.mesto }) }}">
                      Сохранить {# <div class = "btnn btnn--mb0 btnn--pt">  Сохранить  </div> #}
                    </a>     
                </li>                        
            </ul>           
        {# </div>     #}
    </div>
    <div class = "mestoo__linia-top"></div>

    <div class="mestoo  ">
        <div class="mestoo__raspol ">     
            <ul class="mestoo__title nomer-text">
                <li class="mestoo__title-item ">
                     Вы не нашли название ?  Нужно
                </li>
                <li class="mestoo__title-item ">
                    <button class="btnn  btnn--mb1 btnn--pt" type="button" 
                        data-modal="mesto-sait-modal">
                        написать мне
                    </button>
                </li>                       
            </ul>                   
        </div>               
    </div>
    <div class = "mestoo__linia-top"></div>
</div>
 {% endblock %}