{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}

    {% block kroxi %}  
       
                <a href="{{ path('home') }}">Главная</a>
                <a href="{{ path('paseka.matkas') }}">Расы зарегистрированные</a>
                <span class="aktiv ">Добавить другую матку</span>
           
    {% endblock %}

{% block body %}

<article class="rasa">
    <h1 class="rasa__title  ">Добавление названия другой матки </h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить в БД</button>
            <a href="{{ path('paseka.matkas') }}"
                class="btn-my btn-my--sm"> Выйти из режима "Добавить"</a>
            {{ form_end(form) }}

</article><!-- rasas -->



{% endblock %}