{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}

    {% block kroxi %}  
       
                <a href="{{ path('home') }}">Главная</a>
                
                <span class="aktiv ">Расы зарегистрированные</span> 
           
    {% endblock %}

{% block body %}

{# <article class="rasa">
	
    <div class="rasa__header  ">
        <h1 class="rasa__title  ">Расы зарегистрированные в БД</h1>
        {% set token = csrf_token('delete') %}

        {% for key1, rasaL in rasaLs %}                      
            <ul class="rasa__data">  
                <li class="rasa__li"> {{ key1 }} --->> </li>

                <div class="linia  ">
                    {% for key2, ras in rasaL %}
                        <ul class="rasa__data">  
                            <li class="linia__li">  {{ key2 }}   --->></li>
						
                                <div class="linia  ">
                                    {% for key3, rasNom in ras %}
                                        <ul class="rasa__data">  
                                            <li class="nomer__li">  {{ key3 }} --- {{ rasNom }}</li>
                                                
                                        </ul>  
                                    {% endfor %} 
                                </div>          
                        </ul>  
                    {% endfor %} 
                </div>                       
                </ul>  
         {% endfor %}                
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('rabota.rasas.create') }}" 
            class="btn btn--sm">Добавить другую расу в БД</a>
    </div> 


</article><!-- rasa --> #}
	
<article class="rasa">
	
      <div class="rasa__header  ">
         <h1 class="rasa__title  ">Расы зарегистрированные в БД</h1>
          {% set token = csrf_token('delete') %}
                {% for rasa in rasas %}
                      
           
                <ul class="rasa__data">  
                    <li class="rasa__name  rasa__name--wid5">{{ rasa.name }} </li>
                    <li class="rasa__name">  {{ rasa.title }}  </li>               
                    <li class="rasa__name rasa__name--wid5 ">
                        <a href="{{ path('rabota.rasas.edit', {'id': rasa.id}) }}" 
                            class="btn "><span class="fa fa-pencil"></span></a> 
                    </li>
                    <li class="rasa__name ">
                        <form action="{{ path('rabota.rasas.delete', {'id': rasa.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btn btn--smm "><span class="fa fa-trash"></span></button>
                        </form>
                    </li>
                    <li class="rasa__name  rasa__name--wid15">
                        <strong class="stro stro--lin">( Кол-во линий : </strong> 
                        {{ rasa.linias }} ) 
                    </li> 
                     <li>
                        <a href="{{ path('rabota.rasas.linias',{'rasa_id': rasa.id}) }}" 
							class="btn btn--sm">Смотреть/Добавить 
                             <strong class="stro stro--kras"> линии </strong>
                            в {{ rasa.title }}
                        </a>
                     </li>                     
                </ul>  
         {% endfor %}                
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('rabota.rasas.create') }}" 
            class="btn btn--sm">Добавить другую <strong class="stro stro--kras"> расу </strong>  в БД</a>
    </div> 


</article><!-- rasa -->


{% endblock %}