{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}


    {% block kroxi %}  
       
                <a href="{{ path('home') }}">Главная</a>
                <a href="{{ path('rabota.rasas') }}">Раса -- 
				{{ rasa.title }}
				</a>
                <span class="aktiv ">Линии зарегистрированные</span> 
           
    {% endblock %}

{% block body %}

<article class="info_rasa">
	<h1 class="rasa__title  "><strong> Раса  </strong>:  {{ rasa.name }} | {{ rasa.title }}</h1>
	<div class="info_linia ">
      <div class="rasa__header  ">
	  
 	  
	  {% for key1, liniaa in liniaaa %}
		<ul class="rasa__data">
			<li class="rasa__name">{{ key1 }}</li>
				<div class="info_linia ">
					{% for key2, linia in liniaa %}
						<ul class="rasa__data">
							<li> {{ key2 }}  </li>
						</ul>
					{% endfor %}
				</div>
		</ul>
	  {% endfor %}
           
             {% for linia in linias %}
                <ul class="rasa__data">
					<li class="rasa__name">{{ rasa.name }}_л-{{ linia.sort_linia }}_н-{{ linia.sort_nomer }} </li>
                    
                    <li class="rasa__name">{{ linia.name_star }} </li>
                    <li class="rasa__name">{{ linia.nomers }} </li>
                        <div class="info_linia ">
                            {% for nomer in linia.nomers %}
                                <ul class="rasa__data">
                                    <li class="rasa__name">_н-{{ linia.sort_nomer }} </li>                                
                                    {# <li class="rasa__name">{{ linia.name_star }} </li>                  #}
                                </ul>  
                            {% endfor %} 
                         </div>
                     <li>
                        <a href="{{ path('rabota.rasas.linias.nomers', {'linia_id': linia.id}) }}" 
							class="btn btn--sm">Добавить номер в {{ linia.title }}
                        </a>
                     </li>                     
                </ul>  
         {% endfor %}                
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('rabota.rasas.linias.create', {'rasa_id': rasa.id}) }}" 
            class="btn btn--sm">Добавить другую линию в БД</a>
    </div> 
</div>

</article><!-- rasa -->


{% endblock %}