{% extends 'proekt/base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

    {% block kroxii %}
        <a href="{{ path('proekt') }}">Главная</a>
        <a href="{{ path('proekt.pasekas.matkas') }}">Список ПлемМаток</a>             
        <span class="aktiv ">{{ plemmatka.name }}</span> 
        <span class="aktiv ">Расшифровка сокращенных названий</span> 
    {% endblock %}

{% block bodyy %} 

<div  class="  proekts-plem">

    <div class="inklud">

        <div class="inklud__img  ">
            <img class="" src="{{ asset('assets/proekt/images/zamok.png') }}" alt="">           
        </div>

        <div class="inklud__title inklud__title--plem teni">
           Расшифровка сокращенных названий   ПлемМатки
        </div> 
    </div>

        <div class="plem plem__jus-se">
            <a href="{{ path('paseka.matkas.plemmatka.childmatkas.create', {'plemmatka_id' : plemmatka.id}  ) }}"
               class="btnn btnn--mb0 btnn--col">Перейти к регистрации  <strong class="strongo strongo--kras">ДочьМатки  </strong>
            </a>
            <a href="{{ path('paseka.matkas.plemmatka.childmatkas', {'plemmatka_id' : plemmatka.id}  ) }}"
               class="btnn btnn--mb0 btnn--col">Смотреть всех <strong class="strongo strongo--kras">ДочьМаток</strong> этой <strong class="stro stro--kras">ПлемМатки</strong>
            </a>
        </div>

        <div class="proekts-plr" >
            <h1 class="plem__title  ">{{plemmatka.nameKateg}} _{{ plemmatka.name }} :  названия данных ПлемМатки, которые берём за основу</h1>
       
            <ul class="plem plem__jus-st "> 
                <li class="plem__name plem-nomer" >{{ plemmatka.nameKateg }}_</li>
                <li class="plem__name plem__name--wid20"> Катеория -- пояснения внизу этой  странички</li>
            </ul>
            <ul class="plem plem__jus-st "> 
                <li class="plem__name plem-nomer" >{{infaRasaNom[0].name}}_</li>
                <li class="plem__name plem__name--wid20"> Раса : &nbsp; &nbsp;   <strong class="strongo "> {{ infaRasaNom[0].rasa }}</strong></li>
            </ul>
             <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >{{ infaRasaNom[0].linia_n }}_</li>
                <li class="plem__name plem__name--wid20" >Линия : &nbsp; &nbsp;  <strong class="strongo "> {{ infaRasaNom[0].linia }} </strong></li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >{{ infaRasaNom[0].nomer_n }}_</li>
                <li class="plem__name plem__name--wid20" >Номер : &nbsp; &nbsp;  <strong class="strongo ">{{ infaRasaNom[0].nomer }} </strong></li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >{{ plemmatka.mesto }}</li>
                <li class="plem__name plem__name--wid20" >Место пасеки : &nbsp; &nbsp;  <strong class="strongo "> {{ infaMesto[0].okrug }} - {{ infaMesto[0].oblast }} - {{ infaMesto[0].raion }} </strong></li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >пН-{{ plemmatka.persona }}</li>
                <li class="plem__name plem__name--wid20" >персональный номер матковода с ником : &nbsp; &nbsp; <strong class="strongo "> {{ uchastie.name.nike}} ( {{ uchastie.name.last }} , {{ uchastie.name.first }})  </strong></li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name  plem-nomer" > №{{plemmatka.sort}}</li>
                <li class="plem__name plem__name--wid20" > <strong class="strongo  strongo--kras"> {{ plemmatka.title}} </strong>  : &nbsp; &nbsp;   внутренняя нумерация или название маточки  и комментарий  </li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >{{ plemmatka_status(plemmatka.status.name) }}  </li>
                <li class="plem__name plem__name--wid20" >-- статус ПлемМатки на данный момент  </li>
            </ul>       
        </div>
</div> 

{% include('proekt/pasekas/matkas/kategor/_kategor-includ.html.twig') %}


{% endblock %}