{% extends 'proekt/base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{# {% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Пасека</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item active">{{ plemmatka.name }}</li>
    </ol>
{% endblock %} #}

{% block bodyy %} 

<div  class="  proekts-plem">

    <div class="inklud">

        <div class="inklud__img  ">
            <img class="" src="{{ asset('assets/proekt/images/zamok.png') }}" alt="">           
        </div>

        <div class="inklud__title inklud__title--plem teni">
           Расшифровка названия   ПлемМатки
        </div> 
    </div>

        <div class="plem plem__jus-se">
            <a href="{{ path('paseka.matkas.plemmatka.childmatkas.create', {'plemmatka_id' : plemmatka.id}  ) }}"
               class="btnn btnn--mb0 btnn--col">Перейти к регистрации  <strong class="strongo strongo--kras">ДочьМатки  </strong>
            </a>
            <a href="{{ path('paseka.matkas.plemmatka.childmatkas', {'plemmatka_id' : plemmatka.id}  ) }}"
               class="btnn btnn--mb0 btnn--col">Смотреть всех <strong class="strongo strongo--kras">ДочьМаток</strong> этой <strong class="stro stro--kras">ПлемМатки</strong>
            </a>
        </div>

        <div class="proekts-plr" >
            <h1 class="plem__title  ">{{ plemmatka.name }} :  данные ПлемМатки которые берём за основу</h1>
       
            <ul class="plem plem__jus-st "> 
                <li class="plem__name plem-nomer" >Раса</li>
                <li class="plem__name plem__name--wid20">{{ infaRasaNom[0].rasa }}</li>
            </ul>
             <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >л-линия</li>
                <li class="plem__name plem__name--wid20" >{{ infaRasaNom[0].linia }}</li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >н-номер</li>
                <li class="plem__name plem__name--wid20" >{{ infaRasaNom[0].nomer }}</li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >{{ plemmatka.mesto }}</li>
                <li class="plem__name plem__name--wid20" >{{ infaMesto[0].okrug }} - {{ infaMesto[0].oblast }} - {{ infaMesto[0].raion }}</li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >пН-{{ plemmatka.persona }}</li>
                <li class="plem__name plem__name--wid20" >персональный номер матковода с ником: {{ uchastie.name.nike}} ( {{ uchastie.name.last }} , {{ uchastie.name.first }}) ,</li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name  plem-nomer" > №{{plemmatka.sort}}</li>
                <li class="plem__name plem__name--wid20" >--<strong class="stro stro--kras"> {{ plemmatka.title}} </strong>  --  внутренняя нумерация или название маточки  и комментарий  </li>
            </ul>
            <ul class="plem plem__jus-st"> 
                <li class="plem__name plem-nomer" >{{ plemmatka_status(plemmatka.status.name) }}  </li>
                <li class="plem__name plem__name--wid20" >-- статус ПлемМатки на данный момент  </li>
            </ul>       
        </div>
</div> 

{% include('proekt/pasekas/matkas/kategor/_kategor-includ.html.twig') %}


{% endblock %}