{% extends 'proekt/base.html.twig' %}

{% block title %}Сезоны{% endblock %}

  {% block kroxii %}
      <a href="{{ path('proekt') }}">Главная</a>
      <span class="aktiv ">Выбор сезона</span>
  {% endblock %}

{% block bodyy %}
   
    <div  class="proekts proekts--sezon pb0">

        <div class="inklud">
            <div class="inklud__img">
                <img class="" src="{{ asset('assets/proekt/images/sezon/sezons.png') }}" alt="">
            </div>
            <div class="inklud__title teni">
               Выбор  Сезона
            </div>
        </div>

        <div class="proekts-plr  ">

            <div class="box-m">
                <table class="tabl table-bord- table-hover">
                    <thead>
                        <tr>
                            <th> Год </th>
                            <th> Сезон </th>
                            <td> Ред-ние </td>
                            <th>Кол-во ТестМаток</th>
                            <th>Кол-во Тестирующих</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% set token = csrf_token('delete') %}
                        {% for goda in godas %}
                            <tr>
                                <td>
                                    <a href="{{ path('sezons.godas.create') }}">
                                        {{ goda.god }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('sezons.godas.wzatoks', {'id': goda.id})  }}">
                                        {{ goda.sezon }}
                                    </a>
                                </td>
                                <td> <a href="{{ path('sezons.godas.edit', {'id': goda.id}) }}" class="btnn btnn--mb0 btnn--pt btnn--col-sezon" >
{#                                       <div class="karandash">#}
{#                                            <img src="{{ asset('assets/proekt/images/karandash.png') }}" alt="">#}
{#                                        </div> #}
                                        <div class="karandash karandash--child">
                                            <img src="{{ asset('assets/proekt/images/karandash.png') }}" alt="редактировать">
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <div>
                                        <a href="{{ path('proekt.pasekas.matkas.plemmatkas'  ) }}"
                                           class="btnn btnn--mb0 btnn--plus" title="Удалить">
                                        <strong class="strongo strongo--kras">X</strong>
                                        </a>
                                    </div>
                                </td>
                                <td> -- </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                    <div class="controls">
            <a href="{{ path('sezons.godas.create') }}" class="btnn  btnn--pt">Добавить новый !!! сезон</a>
        </div>
        </div>

    </div>
{% endblock %}