{% extends 'proekt/base.html.twig' %}

{% block title %}Персональный номер{% endblock %}

{% block sidebar %}
    {{ include('proekt/personaa/side/_sidecreate.html.twig') }}
{% endblock %}

{% block kroxii %}
  <a href="{{ path('proekt') }}">Главная</a>
    <a href="{{ path('proekt.personaa.inform') }}">Участники</a>
    <a href="{{ path('proekt.personaa.diapazon') }}">Диапазон</a>
     <a href="{{ path('proekt.personaa', { 'itogo': itogo}) }}">ПерсонНомера</a>
    <span class="aktiv">ПерсонНомер</span>
 
{% endblock %}

{% block bodyy %}

    <div  class="proekts">
        {% include('proekt/personaa/_personas-includ.html.twig') %}
        <div class="personaa-ramka">
            <h2 class = "personaa__title ">Вы выбрали персональный номер : </h2>
            <div class = "personaa-nomer">
                {{person }} 
            </div>
    
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btnn btnn--pt btnn--ml">Сохранить в БД</button>
            {{ form_end(form) }}
    </div>
 <div class = "mestoo__linia-top"></div>
        <div class="personaa">
            <h2 class = "pagee__title "> Если ошиблись - вернитель на  страничку  
                <a href="{{ path('proekt.personaa', { 'itogo': itogo} ) }}"  >
                    выбор ПерсонНомера
                </a>
            </h2>
        </div>
    </div>
{% endblock %}