{% extends 'proekt/base.html.twig' %}

{% block title %}Персональный номер{% endblock %}

{% block sidebar %}
    {{ include('proekt/personaa/side/_sideindex.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
    <a href="{{ path('proekt.personaa.inform') }}">Информация о ПерсонНомерах</a>
    {# <a href="{{ path('proekt.personaa.diapazon') }}">Выбор Диапазона</a> #}
    
     <span class="aktiv">ПерсонНомера</span>
   
{% endblock %}

{% block bodyy %}

   <div  class="proekts">

    {% include('proekt/personaa/_personas-includ.html.twig') %}

        <h2 class = "pagee__title ">Для выбора ПерсонНомера участника - жмите на выбранную цифру</h2>

        <div class="proekts-plr">
            <div class="ramka">
        
                {% for person in persons %}
                    <div class = "personaa-vibor">
                        <a  href= "{{ path('proekt.personaa.create', { 'person': person, 'itogo': itogo}) }}">
                            {{ person  }} 
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
         <div class = "mestoo__linia-top"></div>

    <div class="personaa">
        <h2 class = "personaa__title ">Если выбрали не тот диапазон - можно  </h2>
            <a  href= "{{ path('proekt.personaa.diapazon') }}" class="btnn btnn--ml btnn--pt ">
                    Изменить диапазон
            </a>
    </div>
</div>
 {% endblock %}