{% extends 'proekt/base.html.twig' %}

{% block title %}Информация {% endblock %}

{% block sidebar %}
    {{ include('proekt/personaa/side/_sideinform.html.twig') }}
{% endblock %}

{% block kroxii %}
            <a href="{{ path('proekt') }}">Главная</a>
            <span class="aktiv">Информация о ПерсонНомерах</span>   
{% endblock %}


{% block bodyy %}

<div  class="proekts">
    <div class="wstavka">

        <div class="wstavka__kartinka">
            <div class="wstavka-stories wstavka-stories--person" >
                <div class="wstavka-stories__item" data-modal="story-modal" >
                    <img class="wstavka-stories__preview" src="{{ asset('assets/proekt/images/persona/personaa.png') }}"  alt="Участие">
                </div>
            </div>
        </div>

        <div class="wstavka__title">
            Персональные Номера  участников проекта
        </div> 
    </div>
{% if personas %}
    <h2 class = "pagee__title ">Все выбраные ПерсонНомера </h2>

    <div class="proekts-plr">
        <div class="ramka">      
            {% for persona in personas %}
                <div class = "personaa-nomer" >		
                    {{ persona.nomer  }}
                </div>
            {% endfor %}
        </div>    
    </div>

{% endif %}
 
<div class = "mestoo__linia-top"></div>
    {% if personanom %}
        <div class="proekts-plr">
            <div class="ramka">  
                <h2 class = "personaa__title "><strong class = "strongo--name-nike">{{ last }}, </strong> Ваш ПерсонНомер   </h2>       
                <div  class = "personaa-nomer" >
                    <strong class = "strongo--name-nike">{{ personanom.nomer }}</strong>
                </div>
            </div> 
        </div>
        <div class="proekts-plr">
            <div class="ramka">  
                <h2 class = "personaa__title ">Перейти на страничку               
                    <a  href= "{{ path('proekt.pasekas.uchasties.uchastiee') }}">
                           Стать участником 
                    </a>  
                 </h2>       
                
            </div> 
        </div>            
    {% else %} 
   
        <h2 class = "pagee__title ">Вам, для участия в проекте,  нужно выбрать ПерсонНомер. <br>
        Можно отсюда <a href="#">перейти по ссылке </a>
            или <br>
        в верхнем меню выбрать:  <strong class = "strongo">ПерсонНомер ->Выбор ПерсонНомера</strong>
        </h2>
    {% endif %}
</div>        
{% endblock %}