{% extends 'proekt/base.html.twig' %}

{% block title %}Начало сезона{% endblock %}

  {% block kroxii %}
      <a href="{{ path('proekt') }}">Главная</a>
      <a href="{{ path('sezons.godas') }}">Список сезонов</a>
      <span class="aktiv ">Сезон {{ goda.sezon }}</span>
  {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--sezon pb0">

        {% include('sezons/godas/_sezon-includ.html.twig') %}
        <div class="proekts-plr  ">

            <div class="box-m">
                {% if uchasgodas  %}
                    {% if exist != false %}
                        Ваша группа <strong class="strongo strongo--kras">{{ gruppa }}  </strong>
                    {% endif %}
                    <table class="tabl table-bord- table-hover">
                        <thead>
                        <tr>
                            <th> Сезон! </th>
                            <th> Номер группы </th>
                            <th> Кол-во
                                  <strong class="strongo strongo--kras"> точков </strong>
                            </th>
                            <td> -- </td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for uchasgoda in uchasgodas %}
                            <tr>
                                <td>
                                    {{ goda.sezon }}
                                </td>
                                <td>
                                    {{ uchasgoda.gruppa }}
                                </td>
                                <td> {{  uchasgoda.koles}} (заявлено - {{ uchasgoda.koltochek }})</td>

                                <td> <a href="{{ path('sezons.godas.uchasgoda.edit', {'id': goda.id , 'uchasgoda_id': uchasgoda.id }) }}" class="btnn btnn--mb0 btnn--pt btnn--col-sezon" >
                                        <div class="karandash karandash--child">
                                            <img src="{{ asset('assets/proekt/images/karandash.png') }}" alt="редактировать">
                                        </div>
                                    </a>
                                </td>

                                <td>
                                    <div>
                                        <a href="{{ path('sezons.godas.delete' , {'id': goda.id} ) }}" class="btnn btnn--mb0 btnn--pt btnn--col-sezon" >
                                            <div class="karandash karandash--child">
                                                <img src="{{ asset('assets/proekt/images/delet.png') }}" alt="редактировать">
                                            </div>
                                        </a>
                                    </div>
                                </td>
                                {% if (uchasgoda.koltochek > uchasgoda.koles)  or (uchasgoda.koltochek < 0.1) %}
                                    <td>
                                        <a href="{{ path('sezons.tochkas',  {'uchasgoda_id': uchasgoda.id} ) }}"
                                           class="btnn btnn--mb0 btnn--pt btnn--col">Точки - все о них
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{{ path('sezons.tochkas',  {'uchasgoda_id': uchasgoda.id} ) }}"
                                           class="btnn btnn--mb0 btnn--pt btnn--col">смотреть и продолжить
                                        </a>
                                    </td>

                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}

                <ul class="plem__data plem__data--mt2">
                    <li>
                        {% if exist == false %}
                            <div class="controls">
                                <a href="{{ path('sezons.godas.uchasgoda.assign', {'id': goda.id} ) }}"
                                   class="btnn  btnn--pt">Хотите участвовать в этом сезоне? Будет группа <strong class="strongo strongo--kras">{{ gruppa }}  </strong>
                                    Жмите!</a>
                            </div>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('sezons.godas'  ) }}"
                           class="btnn btnn--mb0 btnn--col" >Список сезонов
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>


{% endblock %}

