{% extends 'proekt/base.html.twig' %}

{% block title %}ПлемМатка{% endblock %}

    {# {% block kroxii %}  
       
                <a href="{{ path('home') }}">Главная</a>
                <a href="{{ path('paseka.matkas') }}">Расы зарегистрированные</a>
                <span class="aktiv ">Добавить новую ПлемМатку</span>
           
    {% endblock %} #}

 {% block kroxii %}
            <a href="{{ path('proekt') }}">Главная</a>
            <a href="#">Рег-ция ПлемМатки</a>
            <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}">Пункты 1-3</a>
             <a href="{{ path('proekt.pasekas.rasas.plemmatka') }}">Раса_</a>
            <span class="aktiv ">Пункт 3</span> 
            <span class="aktiv ">Катеория и внутреняя нумерация</span> 
{% endblock %}   

{% block bodyy %}

 <div  class="proekts proekts--plemmatka pb0">

    {% include('proekt/pasekas/matkas/plemmatkas/_plemmatka-includ.html.twig') %}

    <div class="proekts-plr  ">

        <h1 class="plem__title  ">Автоматически сформируется новое название   : 
        {{ command.name }},<br> 
        где под номером <strong class="strongo strongo--kras"> _№-{{command.sort}}</strong> -
         внутренняя нумерация или то, что придумаете для идентификации ПлемМатки.
        </h1>

        <h1 class="plem__title  ">Заполняем еще две позиции:</h1>
        <div class="plem-form__header  "> 
            <div class="plem-form ">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <ul class="plem__data plem__data--mt2">
                    <li>    
                        <button type="submit" class="btnn btnn--mb0 btnn--col">Добавить в БД</button>
                    </li>
                    <li> 
                        <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}"
                            class="btnn btnn--mb0 btnn--col"> Выйти из режима "Добавить"</a>
                    </li>
                </ul> 
                                
                {{ form_end(form) }}
            </div>                 
        </div>
    </div>        
    <div class="inklud inklud--mb0 ">
            <div class="inklud__title teni">
            Характеристики категорий для регистрации  ПлемМатки
            </div>
        </div>  
</div><!-- rasas -->
{% include('proekt/pasekas/matkas/kategor/_kategor-includ.html.twig') %}


{% endblock %}