{% extends 'proekt/base.html.twig' %}

{% block title %}ПлемМатка{% endblock %}

    {% block kroxii %}  
       
                <a href="{{ path('home') }}">Главная</a>
                <a href="{{ path('paseka.matkas') }}">Расы зарегистрированные</a>
                <span class="aktiv ">Добавить новую ПлемМатку</span>
           
    {% endblock %}

{% block bodyy %}

 <div  class="proekts proekts--plemmatka">

    {% include('proekt/pasekas/matkas/plemmatkas/_plemmatka-includ.html.twig') %}

    <div class="proekts-plr  ">

        <h1 class="plem__title  ">Автоматически сформируется такое название новой ПлемМатки  : 
        <strong class="strongo strongo--kras">{{ command.name }}</strong>
        </h1>

        <h1 class="plem__title  ">Вам надо заполнить еще две позиции:</h1>
        <div class="plem__header  "> 
            <div class="plem-form ">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btnn btnn--mb0 btnn--col">Добавить в БД</button>
                <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}"
                    class="btnn btnn--mb0 btnn--col"> Выйти из режима "Добавить"</a>
                {{ form_end(form) }}
            </div>
        </div>  
    </div>        

</div><!-- rasas -->



{% endblock %}