{% extends 'base.html.twig' %}

{% block title %}Номер места{% endblock %}

{#{% block kroxi %}   #}
{#            <a href="{{ path('home') }}">Главная</a>#}
{#            <a href="{{ path('sait.u4astniks.groups') }}">Года</a>          #}
{#            <span class="aktiv">персональный номер</span> #}
{#{% endblock %}#}

{% block body %}

    <h2 class = "page__title ">Вы выбрали  номер места расположения пасеки:  {{mestonomer }} </h2>

   <button type="submit" class="btn-my btn-my--sm">Создать</button>
 <div class="persona">
 
 

<a href="{{ path('mesto.infamesto.okrugs') }}"  >
   <h2> Если ошиблись - вернитель на  страничку выбора номера места расположения пасеки </h2>
</a>
</div>
    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Создать</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}