{% extends 'base.html.twig' %}

{% block title %}Номер Места{% endblock %}

{# {% block includemenu %}
	<header class="header-container header-nav">
		<img src="../../../assets/app/rabota/u4astniki/mestos/images/mesto_.png " width="55"  alt="Место">
		<div class="header-link  ">
				Номер места расположения пасеки
		</div>
	</header>
{% endblock %} #}




{% block body %}


    <div class="name">
        <ul class="mesto__title">
            <li class="mesto__title-item "> {{ name_ok }}</li>
        </ul>

        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </svg>
    </div>

    <div class="name mar-lef ">
        <ul class="mesto__title">
            {# <li class="mesto__title-item nomer">{{ oblast.nomer }}</li> #}
            <li class="mesto__title-item "> {{ name_ob }}</li>
        </ul>

        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </svg>
    </div>

    <div class="name mar-lef2 ">
        <ul class="mesto__title">
            <li class="mesto__title-item nomer">{{ raion.mesto }} </li>
            <li class="mesto__title-item ">{{ raion.name }}  </li>
        </ul>

        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2-all" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M12.354 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            <path d="M6.25 8.043l-.896-.897a.5.5 0 1 0-.708.708l.897.896.707-.707zm1 2.414l.896.897a.5.5 0 0 0 .708 0l7-7a.5.5 0 0 0-.708-.708L8.5 10.293l-.543-.543-.707.707z"/>
        </svg>
    </div>

    <div class="mesto  info-gradien">
        <div class="mesto__raspol ">
            <ul class="mesto__title">
                <li class="mesto__title-item ">
                    Номер места расположения Вашей пасеки
                </li>
                <li class=" nomer-red">{{ raion.mesto }} </li>
                <li class="mesto__title-item ">
                    <a class=" btn-my" href=" {{ path('mesto.infamesto.create', {'raion_id': raion.id , 'mestonomer': raion.mesto }) }}">
                        Сохранить!!!!!!!!!!
                    </a>
                </li>

{#                {{ path('mesto.infamesto.create', {'id': raion.mesto }) }}#}
            </ul>
        </div>
    </div>


    <div class="mesto ">
        <div class="mesto__raspol ">
            <ul class="mesto__title nomer-text">
                <li class="mesto__title-item ">
                    Если Вы не нашли название Республики/Края/Области/Района - напишите.
                </li>
            </ul>
            <button class="btn-my  btn--mesto btn--skruglen btn-my--sm" type="button"
                    data-modal="mesto-modal">
                Написать
            </button> {# комментарий в modal.js  #}
        </div>
    </div>
    <div class="mesto" >
        <ul class="mesto__title nomer-text" >
            <li class="mesto__title-item ">
                <a href="{{ path('mesto.infamesto.okrugs') }}"  >
                    <h2> Если ошиблись - вернитель на  страничку выбора номера места расположения пасеки </h2>
                </a>
            </li>
            <li></li>
        </ul>
    </div>

{% endblock %}