{% extends 'proekt/base.html.twig' %}

{% block title %}Create{% endblock %}


   {% block kroxii %}
       <a href="{{ path('proekt') }}">Главная</a>
       <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}">Выбор сезона</a>
       <span class="aktiv ">Кол-во взятков </span>
   {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--sezon pb0">

        <div class="inklud inklud--sezon">

            <div class="inklud__img">
                <img class="" src="{{ asset('assets/proekt/images/sezon/sezons.png') }}" alt="">
            </div>
            <div class="inklud__title teni  teni--sezon ">
{#                Сезон  {{ nachalo. }}#}
            </div>
        </div>

        <div class="proekts-plr  ">

            <div class="plem-form__header  ">
                <div class="plem-form ">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>

        </div>
    </div>

{% endblock %}