{% extends 'base.html.twig' %}

{% block title %}Okrug{% endblock %}

{#{% block includemenu %}#}
{#	<header class="header-container header-nav">#}
{#		<img src="../../../../assets/app/rabota/u4astniki/mestos/images/mesto_.png " width="55"  alt="Место">#}
{#		<div class="header-link  ">#}
{#				Номер места расположения пасеки#}
{#		</div>#}
{#	</header>#}
{#{% endblock %}#}



{% block kroxi %}
    <div class="kroxi-xl">
         <a href="{{ path('home') }}">Главная</a>
         {# <a href="{{ path('work') }}">Work</a>
         <a href="#link">...</a>
         <a href="#link">...</a>#}
         <a href="{{ path('rabota.u4astniki.mestos.show') }}">Номер места</a> 
		 <span>Добавляем новые в БД</span>
		 <a href="{{ path('rabota.u4astniki.mestos.mesto') }}" > Округ </a>
		 <span>Добавить Округ</span>
     </div>
{% endblock %}


{% block body %}
<h2>Добавляем новые номера для Округа/Области/Района в БД </h2>
    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Добавить Округа</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}