{% extends 'base.html.twig' %}

{% block title %}Участники{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Работа</a></li>#}
        <li class="breadcrumb-item active">Участники</li>
    </ol>
{% endblock %}


{% block body %}

{{ include('app/paseka/uchasties/_tabs.html.twig') }}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.uchkak) }}</div>
                 {# <div class="col-md-2">{{ form_widget(form.email) }}</div> #}
                <div class="col-md-2">{{ form_widget(form.group) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{{ path('paseka.uchasties') }}" class="btn btn-outline-secondary">Сбросить</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Участие как', 'uchkak') }}</th>
                 {# <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th> #}
                <th>{{ knp_pagination_sortable(pagination, 'Group', 'group') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for uchastie in pagination %}
                <tr>
                    <td><a href="{{ path('paseka.uchasties.show', {'id': uchastie.id}) }}">{{ uchastie.name }}</a></td>
                    <td>{{ user_uchkak(uchastie.uchkak) }}</td>
                    {# <td>{{ uchastie.email }}</td> #}
                    <td>{{ uchastie.group }}</td>
                    <td>{{ uchastie_status(uchastie.status) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}