{% extends 'base.html.twig' %}

{% block title %}{{ childmatka.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">На главную</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>#}
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.show', {'plem_id': plemmatka.id}) }}">{{ plemmatka.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.childmatkas', {'plemmatka_id': plemmatka.id}) }}">ДочьМатки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.childmatkas.show', {'id': childmatka.id}) }}">{{ childmatka.name }}</a></li>
        <li class="breadcrumb-item active">Редактировать</li>
    </ol>
{% endblock %}

{% block body %}

    <h1 class="mt-0 mb-3 font-xl">
        {% if childmatka.parent %}
            <a href="{{ path('paseka.matkas.childmatkas.show', {'id': childmatka.parent.id}) }}">{{ childmatka.parent.name }}</a> /
        {% endif %}
        {{ childmatka.name }}
    </h1>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}