{% extends 'proekt/base.html.twig' %}

{% block title %}{{ childmatka.name }}{% endblock %}

{#{% block breadcrumbs %}#}
{#    <ol class="breadcrumb">#}
{#        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('work.projects') }}">Projects</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('work.projects.project.show', {'id': project.id}) }}">{{ project.name }}</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('work.projects.project.childmatkas', {'project_id': project.id}) }}">Tasks</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('work.projects.childmatkas.show', {'id': childmatka.id}) }}">{{ childmatka.name }}</a></li>#}
{#        <li class="breadcrumb-item active">Child Of</li>#}
{#    </ol>#}
{#{% endblock %}#}

{% block bodyy %}
    <div  class="proekts proekts--childmatka">
    <div class="inklud inklud--child">
        <div class="inklud__img  ">
            <img class="" src="{{ asset('assets/proekt/images/matkas/p4ela1.jpg') }}" alt="">
        </div>

        <div class="inklud__title  teni teni--kategor">
            Редактировать ком-рий  ДочьМатки  {{childmatka.name}}
        </div>

    </div>

{#    <h1 class="mt-0 mb-3 font-xl">#}
{#        {% if childmatka.parent %}#}
{#            <a href="{{ path('work.projects.childmatkas.show', {'id': childmatka.parent.id}) }}">{{ childmatka.parent.name }}</a> /#}
{#        {% endif %}#}
{#        {{ task.name }}#}
{#    </h1>#}

    <div class="plem-form__header  ">
        <div class="child-form ">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btnn  btnn--pt btnn--col-child">Сохранить</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}