{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Пасека</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.show', {'plem_id': plemmatka.id}) }}">{{ plemmatka.name }}</a></li>
        <li class="breadcrumb-item active">Редактировать!!!</li>
    </ol>
{% endblock %}

{% block body %}


    <div class="controls">
        <a href="{{ path('paseka.matkas.plemmatka.redaktors.edit', {'plemmatka_id': plemmatka.id}) }}" class="btn btn-primary">Редактировать?</a>
        {% if plemmatka.active and plemmatka.id.value != app.user.id %}
            <form action="{{ path('paseka.matkas.plemmatka.redaktors.archive', {'plemmatka_id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                <button type="submit" class="btn btn-danger">Архивировать?</button>
            </form>
        {% endif %}
        {% if plemmatka.archived %}
            <form action="{{ path('paseka.matkas.plemmatka.redaktors.reinstate', {'plemmatka_id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                <button type="submit" class="btn btn-success">Reinstate</button>
            </form>
        {% endif %}
        <form action="{{ path('paseka.matkas.delete', {'id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
            <button type="submit" class="btn btn-danger">Удалить?</button>
        </form>

{#        <td >#}
{#            <form action="{{ path('paseka.matkas.delete', {'id': plemmatka.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">#}
{#                <input type="hidden" name="token" value="{{ token }}" />#}
{#                <button type="submit" class="btn-my btn-my--smm "><span class="fa fa-trash"></span></button>#}
{#            </form>#}
{#        </td>#}

        <a href="{{ path('paseka.matkas.plemmatka.redaktors.departments', {'plemmatka_id': plemmatka.id}) }}"
                class="btn btn-primary">Смотреть СЕЗОНЫ</a>
        <a href="{{ path('paseka.matkas.plemmatka.redaktors.uchasties', {'plemmatka_id': plemmatka.id}) }}"
                class="btn btn-primary">Привязать участника</a>

    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>

                    <td>{{ plemmatka_kategoria(plemmatka.nameKateg) }}{{ plemmatka.name }}</td>
                    <td></td>
                </tr>
                <tr>

                    <th>...</th>
                    <td>
                        <table class="table table-bordered">
                            <tbody>
                            {% for departamen in departamens %}
                            <tr>
                                <th>сезон</th>
                                <td>{{departamen.name }}</td>
                                <th>Status</th>
                                <td>{{ plemmatka_status(plemmatka.status.name) }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}