{% extends 'proekt/base.html.twig' %}

{% block title %}Участники{% endblock %}

    {% block sidebar %}              
           {% include('proekt/pasekas/uchasties/side/_sidefiltr.html.twig') %}
    {% endblock %}

{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
    {# <a href="{{ path('sait.uchastiess.personass.inform') }}">Участники</a>
    <a href="{{ path('sait.uchastiess.personass.diapazon') }}">Диапазон</a>
     #}
     <span class="aktiv">ПерсонНомера</span>
   
{% endblock %}


{% block bodyy %}


<div  class="proekts-uch">

  {% include('proekt/pasekas/uchasties/_uchastiess-includ.html.twig') %}

    <div class="uchasties">
        <div class="uchasties__left">
        
  <div class="tabll">
        <ul class = "uch-tabl__list uch-color">
            <li class = "uch-tabl__link" >
               Ник
            </li>
            {# <li class = "tabll__list-li tabll__linia">  {{ u4astnik.mesto }} </li> #}
            <li class = "uch-tabl__list-li uch-tabl__linia"> email  </li>
            <li class = "uch-tabl__list-li uch-tabl__linia">Группа</li>
            <li class = "uch-tabl__list-li uch-tabl__linia">
                Статус
                {# {{ member_status(u4astnik.status) }}  #}
            </li>
        </ul>    
                   
            {% for u4astnik in pagination %}
        
                <ul class = "uch-tabl__list">
                        <li class = " " >
                             <a class="uch-tabl__link" href="{{ path('proekt.pasekas.uchasties.show', {'id': u4astnik.id}) }}"> 
                            {{ u4astnik.name }} </a> 
                        </li>
                        {# <li class = "tabll__list-li tabll__linia">  {{ u4astnik.mesto }} </li> #}
                        <li class = "uch-tabl__list-li uch-tabl__linia"> {{ u4astnik.email }} </li>
                        <li class = "uch-tabl__list-li uch-tabl__linia">{{ u4astnik.group }}</li>
                        {# <li class = "tabll__list-li tabll__linia">{{ u4astnik.nomer }}</li> #}
                        <li class = "uch-tabl__list-li uch-tabl__linia">
                            {# {{u4astnik.status}} #}
                            {{ uchastiee_status(u4astnik.status) }} 
                        </li>
                 </ul>
        
            {% endfor %}
               
                </div>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}