{% extends 'proekt/base.html.twig' %}

{% block title %}Раса{% endblock %}

    {% block kroxi %}  
       
                <a href="{{ path('home') }}">Главная</a>
                <a href="{{ path('sezons.godas') }}">Сезоны зарегистрированные</a>
                <span class="aktiv ">Редактировать : </span>
           
    {% endblock %}

{% block body %}
	<article class="rasa">
    <h1 class="rasa__title  ">Редактировать данные </h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Сохранить изменения</button>
            {{ form_end(form) }}

</article><!-- rasas -->

{% endblock %}