<a href="{{ path('paseka.uchasties.show', {'id': action.actor_id}) }}">{{ action.actor_name }}</a>

{% if action.set_plemmatka_id and action.set_name %}
    созданный в
{#    <a href="{{ path('paseka.matkas.plemmatka.show', {'id': action.set_plemmatka_id}) }}">{{ action.set_project_name }}</a>#}
    как {{ paseka_matkas_childmatka_type(action.set_type) }}
    with priority {{ paseka_matkas_childmatka_priority(action.set_priority) }}
{% endif %}

{% if action.set_name and not action.set_plemmatka_id %}
    переименован в &laquo;{{ action.set_name }}&raquo;
{% endif %}

{% if action.set_content and not action.set_plemmatka_id %}
    отредактированный контент
{% endif %}

{% if action.set_executor_id %}
    назначенный
    <a href="{{ path('paseka.uchasties.show', {'id': action.set_executor_id}) }}">{{ action.set_executor_name }}</a>
{% endif %}

{% if action.set_revoked_executor_id %}
    аннулированный
    <a href="{{ path('paseka.uchasties.show', {'id': action.set_revoked_executor_id}) }}">{{ action.set_revoked_executor_name }}</a>
{% endif %}

{% if action.set_file_id %}
    добавленный файл
{% endif %}

{% if action.set_removed_file_id %}
    удаленный файл
{% endif %}

{% if action.set_plemmatka_id and not action.set_plemmatka_id %}
    переехал в
    <a href="{{ path('paseka.matkas.plemmatka.show', {'id': action.set_plemmatka_id}) }}">{{ action.set_project_name }}</a>
{% endif %}

{% if action.set_parent_id %}
    установлен как дочерний элемент
    <a href="{{ path('paseka.matkas.childmatkas.show', {'id': action.set_parent_id}) }}">#{{ action.set_parent_id }}</a>
{% endif %}

{% if action.set_removed_parent %}
    удаленный родитель
{% endif %}

{% if action.set_plan %}
    планировал {{ action.set_plan|date('Y-m-d') }}
{% endif %}

{% if action.set_removed_plan %}
    удаленная дата плана
{% endif %}

{% if action.set_priority and not action.set_plemmatka_id %}
    изменен приоритет на {{ paseka_matkas_childmatka_priority(action.set_priority) }}
{% endif %}

{% if action.set_progress %}
    изменен прогресс на {{ action.set_progress }}%
{% endif %}

{% if action.set_status %}
    изменен статус на {{ paseka_matkas_childmatka_status(action.set_status) }}
{% endif %}

{% if action.set_type and not action.set_plemmatka_id %}
    изменен тип на {{ paseka_matkas_childmatka_type(action.set_type) }}
{% endif %}