{% extends 'proekt/base.html.twig' %}

{% block title %}Начало сезона{% endblock %}

  {% block kroxii %}
      <a href="{{ path('proekt') }}">Главная</a>
      {#      <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}">Выбор сезона</a>#}
      <span class="aktiv ">Список точек</span>
  {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--sezon pb0">



        {% include('sezons/tochkas/wzatoks/_wzatok-includ.html.twig') %}
    <div class="proekts-plr  ">

        <div class="box-m">

{% if wzatoks  %}


                <table class="tabl table-bord- table-hover">
                    <thead>
                    <tr>
                        <td> Номер группы </td>
                        <td> Км </td>
                        <td> Начало </td>
                        <td> Побелка </td>
                        <td> Стор </td>
                        <td> Дни (часы) </td>

                    </tr>
                    </thead>
                    <tbody>

                    {% for wzatok in wzatoks %}
                        <tr>

                            <td>
                                {{ wzatok.gruppa }}
                            </td>
                            <td> {{ wzatok.rasstojan }} </td>
                            <td> {{ wzatok.start }} </td>
                            <td> {{ wzatok.pobelka }} </td>
                            <td> {{ wzatok.end }} </td>
                            <td>{{ wzatok.rabotad }} ( {{ wzatok.rabotach }} )</td>
                            <td>
                                <a href="{{ path('sezons.tochkas.wzatoks.edit', {'tochka_id': tochka.id ,'id': wzatok.id}) }}" class="btnn btnn--mb0 btnn--pt btnn--col-sezon" >
                                    <div class="karandash karandash--child">
                                        <img src="{{ asset('assets/proekt/images/karandash.png') }}" alt="редактировать">
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="#"
                                   class="btn-my btn-my--sm">Добавить данные по
                                    <strong class="stro stro--kras"> ТестМатке </strong>

                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>


    <div class="inklud__title teni  teni--sezon ">
        <a href="{{ path('sezons.tochkas.wzatoks.create' , {'tochka_id': tochka.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--col">Следующий взяток - продолжить          </a>
    </div>

        {% else %}
            <div class="inklud__title teni  teni--sezon ">

             Заполняем данные по взятку на этом точке


            <a href="{{ path('sezons.tochkas.wzatoks.create' , {'tochka_id': tochka.id} ) }}"
                                   class="btnn btnn--mb0 btnn--pt btnn--col">Перейти к  заполнению данных
            </a>
            </div>

            {% endif %}
                            <div class="proekts-plr linia__li ">
                                <ul class="plem__data plem__data--mt2">
                                    <li>
                                        <a href="#"
                                           class="btnn btnn--mb0 btnn--col">Выбрать  сезон
            {#                                <strong class="strongo strongo--kras">{{ nachalo.sezon}} </strong>#}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sezons.godas'  ) }}"
                               class="btnn btnn--mb0 btnn--col" >Список сезонов
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


{% endblock %}