{% extends 'proekt/base.html.twig' %}

{% block title %}Начало сезона{% endblock %}

  {% block kroxii %}
      <a href="{{ path('proekt') }}">Главная</a>
      {#      <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}">Выбор сезона</a>#}
      <span class="aktiv ">Список точек</span>
  {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--sezon pb0">



        {% include('sezons/tochkas/_tochka-includ.html.twig') %}
    <div class="proekts-plr  ">

        <div class="box-m">
{#            <table class="tabl table-bord- table-hover">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th> Сезон </th> <td>{{uchasgoda.sezon}} </td>#}
{#                </tr>#}
{#                <tr>#}

{#                    <th> Номер группы </th> <td> {{ uchasgoda.gruppa }} </td><td></td><td></td><td>..............</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th> Кол-во точков  </th> <td> {{ uchasgoda.koltochek}} </td><td></td><td></td><td>..............</td>#}
{#                </tr>#}
{#                <tr>#}
{#                     <td> -- </td>  <td> -- </td>#}
{#                </tr>#}
{#                </thead>#}
{#            </table>#}
{#            <table class="tabl table-bord- table-hover">#}
{#    {% for number in 1..uchasgoda.koltochek %}#}


{#            <thead>#}
{#            <tr>#}
{#                <td> Точок  </td> <th> {{ number}} </th>#}
{#                <td> Номер группы </td> <th> {{ uchasgoda.gruppa }} - {{ number }}</th>#}
{#                <td>#}
{#                    <a href="{{ path('sezons.tochkas.create' , {'uchasgoda_id': uchasgoda.id, 'tochok': number}) }}"#}
{#                       class="btnn btnn--mb0 btnn--pt btnn--col">Перейти к  заполнению данных#}

{#                    </a>      #}
{#                </td>#}
{#            </tr>#}
{#            </thead>#}

{#    {% endfor %}#}
{#            </table>#}


{#                        <table class="tabl table-bord- table-hover">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th> Сезон </th> <td>{{uchasgoda.goda}} </td>#}
{#                            </tr>#}
{#                            <tr>#}

{#                                <th> Номер группы </th> <td> {{ uchasgoda.gruppa }} </td><td></td><td></td><td>..............</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <th> Кол-во точков  </th> <td> {{ uchasgoda.koltochek}} </td><td></td><td></td><td>..............</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                 <td> -- </td>  <td> -- </td>#}
{#                            </tr>#}
{#                            </thead>#}
{#                        </table>#}
{% if tochoks  %}


                <table class="tabl table-bord- table-hover">
                    <thead>
                    <tr>

                        <td> Номер группы </td>
                        <td> Кол-во взятков ! </td>

                    </tr>
                    </thead>
                    <tbody>

                    {% for tochok in tochoks %}
                        <tr>

                            <td>
                                {{ tochok.grtochka }} ( {{ tochok.name }} )
                            </td>
                            <td> {{ tochok.kolwz }} </td>
                            <td>
{#                                {{ path('sezons.godas.nachalos.nomers', {'nachalo_id': nachalo.id}) }}#}
                                <a href="{{ path('sezons.tochkas.wzatoks', {'id': tochok.id}) }}"
                                   class="btn-my btn-my--sm">Добавить данные по
                                    <strong class="stro stro--kras"> взяткам </strong>

                                </a>
                            </td>
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>


    <div class="inklud__title teni  teni--sezon ">

        Продолжаем заполнять данные по точкам

        <a href="{{ path('sezons.tochkas.create' , {'uchasgoda_id': uchasgoda.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--col">Следующий точок - продолжить          </a>
    </div>

        {% else %}
            <div class="inklud__title teni  teni--sezon ">

              Начните заполнять данные по точкам


            <a href="{{ path('sezons.tochkas.create' , {'uchasgoda_id': uchasgoda.id}) }}"
                                   class="btnn btnn--mb0 btnn--pt btnn--col">Перейти к  заполнению данных
            </a>
            </div>

            {% endif %}
                            <div class="proekts-plr linia__li ">
                                <ul class="plem__data plem__data--mt2">
                                    <li>
                                        <a href="{{ path('sezons.nachalos.create') }}"
                                           class="btnn btnn--mb0 btnn--col">Выбрать  сезон
            {#                                <strong class="strongo strongo--kras">{{ nachalo.sezon}} </strong>#}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sezons.godas'  ) }}"
                               class="btnn btnn--mb0 btnn--col" >Список сезонов
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


{% endblock %}