{% extends 'proekt/base.html.twig' %}

{% block title %}Начало сезона{% endblock %}

  {% block kroxii %}
      <a href="{{ path('proekt') }}">Главная</a>
      <a href="{{ path('sezons.godas') }}">Список сезонов</a>

      <span class="aktiv ">Список точек</span>
  {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--sezon pb0">

        {% include('sezons/tochkas/_tochka-includ.html.twig') %}
    <div class="proekts-plr  ">

        <div class="box-m">

{% if tochkas  %}
                <table class="tabl table-bord- table-hover">
                    <thead>
                    <tr>
                        <td> Номер группы </td>
                        <td> Кол-во    <strong class="strongo strongo--kras"> взятков </strong>  </td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for key, tochka in tochkas %}
                        <tr>
                            <td>
                                {{ tochka.gruppa }} ( {{ tochka.name }} )
                            </td>
                            <td> {{ tochka.kolwz }} ( есть данные в {{ tochka.kolwzates }} ) </td>
                            <td>

                                <a href="{{ path('sezons.tochkas.wzatoks', {'tochka_id': tochka.id}) }}"
                                   class="btn-my btn-my--sm">Добавить данные по
                                    <strong class="strongo strongo--kras"> взяткам </strong>

                                </a>
                            </td>
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
{#    {{uchasgoda.koltochek }}#}
{#    {{ counts }} !!!!!!!!!!!#}
            <div class="inklud__title teni  teni--sezon ">
                     {% if (uchasgoda.koltochek - counts) > 0.1 %}
                            Характеристики точка: название, взятки ->
                            <a href="{{ path('sezons.tochkas.create' , {'uchasgoda_id': uchasgoda.id}) }}"
                               class="btnn btnn--mb0 btnn--pt btnn--col"> продолжить, еще  <strong class="strongo strongo--kras">  {{ uchasgoda.koltochek - counts}}</strong>

                            </a>
                     {% else %}
                             Есть данные для   {{ counts  }} из {{ uchasgoda.koltochek}}
                    {% endif %}
            </div>
        {% else %}
            <div class="inklud__title teni  teni--sezon ">

                Характеристики точка: название, взятки ->


                <a href="{{ path('sezons.tochkas.create' , {'uchasgoda_id': uchasgoda.id}) }}"
                                       class="btnn btnn--mb0 btnn--pt btnn--col">начинаем, жмите
                </a>

            </div>

            {% endif %}
                            <div class="proekts-plr linia__li ">
                                <ul class="plem__data plem__data--mt2">

                            <li>
                                <a href="{{ path('sezons.godas'  ) }}"
                                   class="btnn btnn--mb0 btnn--col" >Список сезонов
                                </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


{% endblock %}