{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Пасека</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.show', {'plem_id': plemmatka.id}) }}">{{ plemmatka.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.redaktors', {'plemmatka_id': plemmatka.id}) }}">Редактирование</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.redaktors.departments', {'plemmatka_id': plemmatka.id}) }}">Departments</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.redaktors.departments.show', {'plemmatka_id': plemmatka.id, 'id': department.id}) }}">{{ department.name }}</a></li>#}
        <li class="breadcrumb-item active">Создать</li>
    </ol>
{% endblock %}

{% block body %}



    <h2>Добавить СЕЗОН</h2>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}