{% extends 'base.html.twig' %}

{% block title %}{{ department.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Пасека</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.show', {'plem_id': plemmatka.id}) }}">{{ plemmatka.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.redaktors', {'plemmatka_id': plemmatka.id}) }}">Редактирование</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.redaktors.departments', {'plemmatka_id': plemmatka.id}) }}">Departments</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.matkas.plemmatka.redaktors.departments.show', {'plemmatka_id': plemmatka.id, 'id': department.id}) }}">{{ department.name }}</a></li>
        <li class="breadcrumb-item active">Редактировать</li>
    </ol>

{% endblock %}

{% block body %}

{#    {% include 'app/work/plemmatkas/project/_tabs.html.twig' %}#}

{#    {% include 'app/work/projects/project/settings/_tabs.html.twig' %}#}

    <h2>{{ department.name }}</h2>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}