<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('home') }}">
        <img class="navbar-brand-full" src="https://coreui.io/demo/img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="https://coreui.io/demo/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto mr-4">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Аккаунт</strong>
                </div>
                <a class="dropdown-item" href="{{ path('profile') }}"><i class="fa fa-user"></i> Профиль</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-lock"></i> Выход из системы</a>
            </div>
        </li>
    </ul>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">
                        <i class="nav-icon icon-speedometer"></i> Меню
                    </a>
                </li>
                <li class="nav-title">СЕЗОН</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sezons') }}">
                        <i class="nav-icon icon-user"></i>Список сезонов
                    </a>
                </li>
                <li class="nav-title">МАТКИ</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.matkas.plemmatka') }}">
                        <i class="nav-icon icon-user"></i>ПлемМатка - регистр-ция.
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.matkas') }}">
                        <i class="nav-icon icon-user"></i> ПлемМатки - список
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.matkas.childmatkas') }}">
                        <i class="nav-icon icon-user"></i> ТестМатки - регистр-ция
                    </a>
                </li>
                <li class="nav-title">Место расположения</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mesto.okrug') }}">
                        <i class="nav-icon icon-user"></i>Создать номер-места
                    </a>

                </li>
                <li class="nav-title">Информация</li>
                {# {% if is_granted('ROLE_WORK_MANAGE_MEMBERS') %} #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mesto.infamesto.inform') }}">
                        <i class="nav-icon icon-people"></i> mesto.infamesto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.rasas.info_rasa') }}">
                        <i class="nav-icon icon-people"></i> Раса_Линия_Номер
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.uchasties.personas.show') }}">
                        <i class="nav-icon icon-people"></i> Персональные номера
                    </a>
                </li>
                <li class="nav-title">Участники</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.uchasties.uchastie') }}">
                        <i class="nav-icon icon-user"></i> Стать участником
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.uchasties.personas.diapazon' ) }}">
                        <i class="nav-icon icon-user"></i> Персональный номер
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('mesto.infamesto.okrugs') }}">
                        <i class="nav-icon icon-user"></i>Выбрать номер-места
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.uchasties.groups') }}">
                        <i class="nav-icon icon-user"></i> Группы
                    </a>
                </li>
                <li class="nav-title">Пасека</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.rasas') }}">
                        <i class="nav-icon icon-user"></i> Раса-Линия-Номер
                    </a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paseka.matkas.sparings') }}">
                        <i class="nav-icon icon-people"></i> Облет|Спаринг
                    </a>
                </li>
                {% if is_granted('ROLE_MANAGE_USERS') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users') }}">
                            <i class="nav-icon icon-people"></i> Users
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">
                        <i class="nav-icon icon-user"></i> Профиль
                    </a>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
        {% block breadcrumbs %}{% endblock %}
        <div class="container-fluid">
            {% include '_flashes.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </main>
</div>
<footer class="app-footer">
    <div>
        <span>© {{ "now"|date("Y") }} All rights reserved</span>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
