{% extends 'sait/base.html.twig' %}

{% block title %}Место{% endblock %}

{% block kroxiSait %}
            <a href="{{ path('sait') }}">Главная</a>
            <span class="aktiv">Место</span>   
{% endblock %}

{% block bodyMain %}
<div  class="saits">
    <div class="wstawka">

        <div class="wstawka__kartinka">
            <div class="includ-stories" >
                <div class="includ-stories__item" data-modal="story-modal" >
                    <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/mesto_.png') }}"  alt="Место">
                </div>
            </div>
        </div>

        <div class="wstawka__title">
            Номера мест расположения пасек участников проекта 
        </div> 
    </div>


    <div class="mesto-ramka">

        {% for mestonom in fetcher %}
            <div class = "mesto-ramka__nomer">		
                {{ mestonom.mestonomer  }}
            </div>
        {% endfor %}
    </div>

        {% if mestonomer %} 
            <h2 class = "page__title ">Ваш номер места расположения пасеки  </h2>
            <div class="mesto-ramka">
                <div class = "mesto-ramka__nomer">
                    {{ mestonomer.nomer }}
                </div>
            </div>    
        {% else %} 
            <h2 class = "page__title ">Вам, для участия в проекте,  нужно определиться  
            с номером места нахождения Вашей пасеки.<br> Можно отсюда 
            <a href="{{ path('sait.mestos.okrugs') }}">перейти по ссылке </a> 
              или <br>
            в верхнем меню выбрать:  <strong class = "stro-sait stro-sait--krox"  >Место -> Номер места.</strong>
            </h2>
        {% endif %}
</div>        
{% endblock %}