{% extends 'sait/base.html.twig' %}

{% block title %}Место-округ{% endblock %}

{% block kroxiSait %}
            <a href="{{ path('sait') }}">Главная</a>
            <a href="{{ path('sait.mestos.inform') }}">Место</a>
            <span class="aktiv ">Номера Округов</span> 
{% endblock %}


{% block bodyMain %}

<div  class="saits">

    {% include('sait/mestos/_mesto-includ.html.twig') %}
    <h2 class = "mestos__title ">Выбираем свой Округ </h2>
    <div class="saits__content">
        {% for okrug in okrugs %}
            <div class="mesto-sait mesto-sait-h">
                <div class="mesto-sait__raspol">
                    <ul class="mesto-sait__title">
                        <li class="mesto-sait__title-item nomer-sait-red">
                            <a href="{{ path('sait.mestos.oblasts', {'okrug_id': okrug.id}) }}">{{ okrug.nomer }} </a>
                        </li>
                        <li class="mesto-sait__title-item ">
                            <a href="{{ path('sait.mestos.oblasts', {'okrug_id': okrug.id}) }}">{{ okrug.name }} </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}