{% extends 'sait/base.html.twig' %}

{% block title %}Номера мест пасек{% endblock %}

{% block kroxiSait %}   
            <a href="{{ path('home') }}">Главная</a>
            {# <a href="{{ path('sait.mestos.inform') }}">Место</a> #}
            <span class="aktiv">Место</span> 
{% endblock %}

{% block includemenu %}
    <div class="includ-menu ">
        <ul class="includ-menu__ul " >
            <li class="includ-menu__li " >
                <div class="includ-stories" >
                    <div class="includ-stories__item" data-modal="story-modal" >
                        <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/mesto_.png') }}"  alt="Место">
                    </div>
                </div>         
            </li>
            <li class="includ-menu__li includ-menu__li--paddin" >
                Номера мест расположения пасек участников проекта                    
            </li>                       
        </ul>            
</div> 
{% endblock %}
{% block bodyMain %}

 {# <h2 class = "page__title ">Номера мест расположения пасек участников проекта !!!!!!!!</h2> #}
 <div class="persona">

	{% for mestonomer in fetcher %}
        <div class = "persona-nomer">		
		    {{ mestonomer.mestonomer  }}
        </div>
	{% endfor %}
</div>
    <h2 class = "page__title ">Ваш номер места расположения пасеки  </h2>
    <div class = "persona-nomer">
        {{ mestonomer.nomer }}
    </div>
{% endblock %}