<aside class="sidee" >
    <div class="sidee__header">
      <img src="{{ asset('assets/proekt/images/logoo.jpg') }}" alt="">
    </div>

  <div class="filter-child">
    {{ form_start(form) }}
        <ul class="filter-child__ul">
            <li class="fil-chi-li fil-chi-li--flex ">
              <div >
                <button type="submit" class=" btnn btnn--mb0 btnn--pt" >Фильтр</button>
              </div>
              <div class="sidee__lupa">
                <img src="{{ asset('assets/proekt/images/lupa.png') }}" alt="">
              </div>
              <div >
                <a  class=" btnn btnn--mb0 btnn--pt" href="{{ path('proekt.pasekas.matkas') }}" >Сбросить</a>
              </div>
            </li>

            <li class="side-title__li">
              Поискт в выпад. меню по
            </li>
            <li class="fil-chi-li fil-chi-li--centr">
              <a class="sideefiltr__link " > {{ form_widget(form.author) }}</a> 
            </li>
            <li class="fil-chi-li fil-chi-li--centr">
              <a class="sideefiltr__link " > {{ form_widget(form.executor) }}</a> 
            </li>
            <li class="side-title__li">
              В каком статусе ДочьМатка 
            </li>
            <li class="fil-chi-li fil-chi-li--wid20">
              <a class="sideefiltr__link ">{{ form_widget(form.status) }}</a>
            </li>
            {# <li class="side-title__li">
              Поиск по ПерсонНомеру
            </li>
            <li class="sideefiltr__li sideefiltr__li--wid100">
              <a class="sideefiltr__link ">{{ form_widget(form.persona) }}</a>
            </li>

            <li class="side-title__li">
              Поиск по Категории
            </li>
            <li class="sideefiltr__li sideefiltr__li--wid100">
              <a class="sideefiltr__link ">{{ form_widget(form.name_kateg) }}</a>
            </li>
            
            
           #}
          </ul>
      {{ form_end(form) }}
  </div>
  {# <div class="profilee__text"> #}
      {# <div class="profilee__header">           
          <div class="profilee__name"> Внимание! </div>
          <div class="profilee__prof"> Если обнаружили ошибку или <br>не нашли  нужное название
          </div>
          <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
          напишите мне
      </button>
      </div> #}
  {# </div>   #}
</aside>