{% extends 'base.html.twig' %}

{% block title %}{{ linia.name }}{% endblock %}

{% block kroxi %}  
       
		<a href="{{ path('home') }}">Главная</a>
		<a href="{{ path('paseka.rasas') }}">Раса -- </a>
		<a href="{{ path('paseka.rasas') }}">Линия -- {{ linia.name }}</a>
		<span class="aktiv ">Заполнить номер для линии {{ linia.name }}</span> 
   
    {% endblock %}

{% block body %}

<article class="rasa">
	<h1 class="rasa__title  ">Раса :   {{ linia.title }}</h1>
	<div class="linia ">
		<h1 class="rasa__title  ">Линия :  {{ linia.name }}</h1>
		<div class="nomer ">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn--sm">Добавить номер</button>
            </div>
            {{ form_end(form) }}
		
		</div>		
	</div>
</article><!-- rasas -->

    {# <h2>{{ nomer.name }}</h2>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div> #}

{% endblock %}