{% extends 'sait/base.html.twig' %}

{% block title %}Персональный номер{% endblock %}

{#{% block kroxi %}   #}
{#            <a href="{{ path('home') }}">Главная</a>#}
{#            <a href="{{ path('sait.u4astniks.groups') }}">Года</a>          #}
{#            <span class="aktiv">персональный номер</span> #}
{#{% endblock %}#}

{% block bodyMain %}

    <h2 class = "page__title ">Вы выбрали персональный номер :  {{person }} </h2>

{#   <button type="submit" class="btn-my btn-my--sm">Создать</button>#}

{#    <div class="card">#}
{#        <div class="card-body">#}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Записать в БД</button>
            {{ form_end(form) }}

{#        </div>#}
{#    </div>#}

    <div class="persona">
        <a href="{{ path('sait.uchastiess.personas.diapazon') }}"  >
            <h2> Если ошиблись - вернитель на  страничку выбора персонального номера </h2>
        </a>
    </div>

{% endblock %}