{% extends 'sait/base.html.twig' %}

{% block title %}Персональный номер{% endblock %}

{% block kroxiSait %}
    <a href="{{ path('sait') }}">Главная</a>
    <span class="aktiv">ПевсонНомер</span>
    <span class="aktiv">Диапозон</span>
{% endblock %}

{% block bodyMain %}

 <h2 class = "page__title ">Персональные номера участников проекта </h2>   
 <div class="persona">

	{% for persona in personas %}
        <div class = "persona-nomer">		
		    {{ persona.nomer  }}
        </div>
	{% endfor %}
</div>
<h2 class = "page__title ">Выбираем подходящий  диапазон для персонНомера  </h2>
    <div class="card">
        <div class="group-form">

            {{ form_start(form) }}
            {{ form_widget(form) }}
{#            <button type="submit" class="btn-my btn-my--sm">Смотрим  </button>#}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}