{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

 {% block breadcrumbs %}
       
                <a href="{{ path('home') }}">Главная</a>
                <a href="{{ path('paseka.rasas') }}">Расы </a>
                <span class="aktiv ">Добавить другую линию</span> 
           
    {% endblock %}

{% block body %}

<article class="rasa">
<h1 	class="rasa__title  "><strong> Раса </strong>:  {{ rasa.name }} | {{ rasa.title }}</h1>
	<div class="linia ">

<h3 class="rasa__title"> <strong>{{ name }} </strong> - таким будет сокращенное название <strong> раса_линия </strong>,
     оно формируется автоматически с учетом данных из БД</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить в БД</button>
            <a href="{{ path('paseka.rasas.linias',{'id': rasa.id}) }}"
                class="btn-my btn-my--sm"> Выйти из режима "Добавить"</a>
        {{ form_end(form) }}
	</div>
</article>

{% endblock %}