{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Раса -- {{ rasa.title }}</a></li>
        <li class="breadcrumb-item active">Добавить линию или добавить номер к линии</li>
    </ol>
{% endblock %}

{% block body %}

<article class="rasa">
	<h1 class="rasa__title  "><strong> Раса  </strong>:  {{ rasa.name }} | {{ rasa.title }}</h1>
	<div class="linia ">
      <div class="rasa__header  ">
         <h1 class="rasa__title "> <strong>  Линии </strong> зарегистрированные в БД <strong> для </strong> расы : <strong> {{ rasa.title }} </strong></h1>
          {% set token = csrf_token('delete') %}
                {% for linia in linias %}


                <ul class="rasa__data">
					 <li class="rasa__name rasa__name--wid5">{{ linia.sort_linia }} </li>
                    <li class="rasa__name  rasa__name--wid5">{{ linia.name }} </li>
                    <li class="rasa__name">{{ linia.name_star }} </li>

                    <li class="rasa__name  rasa__name--wid5">
                        <a href="{{ path('paseka.rasas.linias.edit', {'id': rasa.id, 'linia_id': linia.id}) }}"
                            class="btn-my "><span class="fa fa-pencil"></span></a>
                    </li>
                    <li class="rasa__name">
                        <form action="{{ path('paseka.rasas.linias.delete', {'id': rasa.id, 'linia_id': linia.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btn-my btn-my--smm "><span class="fa fa-trash"></span></button>
                        </form>
                    </li>
{#                    <li class="rasa__name "> {{ linia.title }}  </li>#}
                    <li class="rasa__name rasa__name--wid15 ">
                        <strong class="stro stro--lin">( Кол-во: </strong>
                        {{ linia.nomers }} )
                    </li>
                     <li>
                        <a href="{{ path('paseka.rasas.linias.nomers', {'linia_id': linia.id}) }}"
							class="btn-my btn-my--sm">Добавить
                             <strong class="stro stro--kras"> номер </strong>
                            в {{ linia.title }}
                        </a>
                     </li>
                </ul>
         {% endfor %}
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('paseka.rasas.linias.create', {'id': rasa.id}) }}"
            class="btn-my btn-my--sm">Добавить другую
              <strong class="stro stro--kras"> линию </strong> в БД</a>
    </div>
</div>

</article><!-- rasas -->


{% endblock %}