{% extends 'proekt/base.html.twig' %}

{% block title %}Редактирование. ПлемМатка{% endblock %}

{% block kroxii %}
        <a href="{{ path('proekt') }}">Главная</a>
        <a href="{{ path('proekt.pasekas.matkas') }}">Список ПлемМаток</a>             
        <span class="aktiv ">{{ plemmatka.name }}</span> 
        <span class="aktiv ">Редактировать внутреннюю нумерацию</span> 
    {% endblock %}

{% block bodyy %}

<div  class="proekts proekts--plemmatka pb0">

    <div class="inklud">

        <div class="inklud__img">
        <img class="" src="{{ asset('assets/proekt/images/karandash_m.png') }}" alt="">
            
        </div>

        <div class="inklud__title teni">
           Формируем название для регистрации  ПлемМатки
        </div> 
    </div>

    <div class="proekts-plr  ">
    <h1 class="plem__title  ">Есть возможность отредактировать представленную 
    внутреннюю нумерацию.</h1>
        <div class="plem-form__header  "> 
            <div class="plem-form ">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btnn btnn--mb0 btnn--pt
                btnn--col">Сохранить</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>

{% endblock %}