{% extends 'proekt/base.html.twig' %}

{% block title %}Редактирование. ПлемМатка{% endblock %}

{% block kroxii %}
        <a href="{{ path('proekt') }}">Главная</a>
        <a href="{{ path('proekt.pasekas.matkas') }}">Список ПлемМаток</a>             
        <span class="aktiv ">{{ plemmatka.name }}</span> 
        <span class="aktiv ">Редактировать внутреннюю нумерацию</span> 
    {% endblock %}

{% block bodyy %}

<div  class="proekts proekts--plemmatka pb0">

    {% include('proekt/pasekas/matkas/plemmatkas/_plemmatka-includ.html.twig') %}

    <div class="proekts-plr  ">
    <h1 class="plem__title  ">Есть возможность отредактировать представленную 
    внутреннюю нумерацию.</h1>
        <div class="plem-form__header  "> 
            <div class="plem-form ">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn-my btn-primary">Сохранить</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>

{% endblock %}