{% extends 'base.html.twig' %}

{% block mesto %}Create{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('rabota') }}">работа</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('rabota.u4astniki') }}">Участники</a></li>#}
        {# <li class="breadcrumb-item"><a href="{{ path('rabota.u4astniki.mestos.mesto', {'id': okrug.id}) }}">{{ okrug.name }}</a></li> #}
        {# <li class="breadcrumb-item"><a href="{{ path('rabota.u4astniki.mestos.mesto', {'okrug_id': okrug.id}) }}">Settings</a></li>
        <li class="breadcrumb-item"><a href="{{ path('rabota.u4astniki.mestos.mesto', {'okrug_id': okrug.id}) }}">Linias</a></li> #}
        <li class="breadcrumb-item active">Create</li>
    </ol>
{% endblock %}

{% block body %}

    {# {% include 'app/rabota/u4astniki/materi/_tabs.html.twig' %}

    {% include 'app/rabota/u4astniki/materi/settings/_tabs.html.twig' %} #}

    <h2>Добавить Районы</h2>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}