{% extends 'sait/base.html.twig' %}

{% block title %}Информация участия{% endblock %}

{% block kroxiSait %}
            <a href="{{ path('sait') }}">Главная</a>
            <a href="{{ path('sait.uchastiess.personass.inform') }}">ПерсонНомер</a>
            <span class="aktiv">Информация о ПерсонНомерах</span>   
{% endblock %}


{% block bodyMain %}

<div  class="saits">
    <div class="wstawka">

        <div class="wstawka__kartinka">
            <div class="includ-stories" >
                <div class="includ-stories__item" data-modal="story-modal" >
                    <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/person_.png') }}"  alt="Участие">
                </div>
            </div>
        </div>

        <div class="wstawka__title">
            Персональные Номера  участников проекта
        </div> 
    </div>
{% if personas %}
    <h2 class = "person__title ">Все выбраные ПерсонНомера </h2>
    <div class="person">        
        {% for persona in personas %}
            <div class = "person-nomer" >		
                {{ persona.nomer  }}
            </div>
        {% endfor %}
    </div>
        {# {% else %} #}
        {% endif %}
 

        {% if personanom %} 
            <h2 class = "person__title">Ваш ПерсонНомер   </h2>
            <div class="mesto-ramka">
                <div  class = "person-nomer" >
                    {{ personanom.nomer }}
                </div>
            </div>    
        {% else %} 
            <h2 class = "person__title ">Вам, для участия в проекте,  нужно выбрать ПерсонНомер. <br>
            Можно отсюда <a href="{{ path('sait.uchastiess.personass.diapazon') }}">перейти по ссылке </a>
              или <br>
            в верхнем меню выбрать:  <strong class = "stro-sait stro-sait--krox"  >ПерсонНомер ->Выбор ПерсонНомера</strong>
            </h2>
        {% endif %}
</div>        
{% endblock %}