{% extends 'base.html.twig' %}

{% block title %}Участники{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Работа</a></li>#}
        <li class="breadcrumb-item"><a href="{{ path('paseka.uchasties') }}">Участники</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.uchasties.show', {'id': uchastie.id}) }}">{{ uchastie.name.full }}</a></li>
        <li class="breadcrumb-item active">Перевести в другую группу</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Перевести в другую группу</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}