{% extends 'proekt/base.html.twig' %}

{% block title %}Стать участником{% endblock %}

{# {% block sidebar %}#}
{#     {% include('sait/uchastiess/uchastie/_uchastie-includ.html.twig') %}#}
{# {% endblock %}#}

{% block kroxii %}
    <a href="{{ path('sait') }}">Главная</a>
    {# <a href="{{ path('sait.uchastiess.uchastie') }}">Участники</a> #}

    <span class="aktiv">Стать участником</span>

{% endblock %}


{% block bodyy %}
    <article class="saits">
        {% include('sait/uchastiess/uchastie/_uchastie-includ.html.twig') %}
        <div class="uchastie__header  ">

            {% if uchastie and  persona and mestoNomer %}
                <h1 class="uchastie__title  "> {{ uchastie.name.full}}, Вы участник проекта и, по желанию,
                можете принять участие в предстоящих сезонах как: матковод, пчеловод, пчелоМатковод или наблюдатель.</h1>
            {% else %}
                <h1 class="uchastie__title  "> Чтобы стать участником проекта, надо заполнить пункты 1 - 3 </h1>
            {% endif %}

            <ul class="uchastie__data">
                {% if persona %}
                    <li>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </li>
                    <li class="uchastie__name  ">Ваш ПерсонНомер</li>
                    <li><div class = "uchastie-nomer uchastie-nomer__wid8">
                            {{ persona.nomer }}
                        </div></li>
                    <li></li>
                {% else %}
                    <li class="uchastie__name" >1. Выбрать для себя персональный номер </li>
                    <li>
                        <a href="{{ path('sait.uchastiess.personass.diapazon') }}"
                           class="btn-my btn-my--sm">Выбрать <strong class="stro stro--kras">ПерсонНомер  </strong>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <ul class="uchastie__data">
                {% if mestoNomer %}
                    <li>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </li>
                    <li class="uchastie__name  ">Номер места распол.</li>
                    <li><div class = "uchastie-nomer uchastie-nomer__wid12">
                            {{ mestoNomer.nomer }}
                        </div></li>
                    <li></li>
                {% else %}
                    <li class="uchastie__name" >2. Определиться с номером места расположения пасеки </li>
                    <li>
                        <a href="{{ path('mesto.infamesto.okrugs') }}"
                           class="btn-my btn-my--sm">Найти <strong class="stro stro--kras">номер  </strong> места расположения
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="uchastie__data">
                {% if uchastie %}
                    <li>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </li>
                    <li class="uchastie__name  ">{{ uchastie.name.nike }}, данные о Вашем участии записаны в БД.</li>
                    <li></li>
                    <li></li>
                {% else %}
                    <li class="uchastie__name" >3. Подтвердить Ваше участие с заполнением доп. данных</li>
                    <li>
                        <a href="{{ path('sait.uchastiess.uchastie.create') }}"
                           class="btn-my btn-my--sm">Подтвердить <strong class="stro stro--kras">участие  </strong> в проекте
                        </a>
                    </li>
                {% endif %}
            </ul>


        </div>

    </article><!-- uchastie -->

{% endblock %}