{% extends 'mail.html.twig' %}

{% block body %}

    <p>Hello, {{ author.name.first }}!</p>

    <p>Вашей матке &laquo;{{ childmatka.name }}&raquo; назначен исполнитель {{ executor.name.full }}:</p>

    {% set url = url('paseka.matkas.childmatkas.show', {'id': childmatka.id}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}